# 1. Wikipedia Scraping and Preprocessing the Toronto Neighbourhood Data

In [2]:
#for http requests
import requests

#for scraping
from bs4 import BeautifulSoup

#for data analysis
import pandas as pd

### Read the wiki page into a soup variable

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
wiki = requests.get(url)
soup = BeautifulSoup(wiki.content, "html.parser")

### Scrape table and table rows

In [4]:
table = soup.find_all("table")[0]
table_rows = table.find_all("tr")

In [8]:
A = []
B = []
C = []

for tr in table_rows:
    #header = tr.find_all("th")
    row = tr.find_all("td")
    if len(row) == 3:
        A.append(row[0].find(text = True))
        B.append(row[1].find(text = True))
        C.append(row[2].find(text = True))

### Assemble a dataframe with the values scraped

In [19]:
df = pd.DataFrame(A, columns = ["Postcode"])
df["Borough"] = B
df["Neighbourhood"] = C

In [20]:
df.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned     Not assigned

1      M2A      Not assigned     Not assigned

2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park     Not assigned

9      M8A      Not assigned     Not assigned

### Remove the rows with "Not assigned" boroughs

In [21]:
df = df[df.Borough != "Not assigned"]

In [22]:
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [23]:
df = df.groupby(["Postcode", "Borough"], sort = True)["Neighbourhood"].apply(", ".join).reset_index()

In [24]:
df.shape

(103, 3)

### Write the dataframe to a csv for further use

In [25]:
df.to_csv("toronto.csv")